@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol');

body {
	font-size: 100;
}

p {
	/*margin: 0.1em;*/
	margin: 0;
}

.stats {
	float: left;
	font-size: 1.2em;
}

.control {
	font-size: 1.5em;
	float: right;
}

.card-info {
	clear: left;
	font-size: 1.2em;
}

.main {
	margin-bottom: 12em;
}

.word-panel p {
	text-align: center;
}

.kanji-list {
	text-align: center;
	font-size: 1.4em;
}

.kanji-list span {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.word {
	font-size: 3.2em;
	margin: 0;
	width: fit-content;
	margin: auto;
	border-bottom: 6px solid white;
}


.transcription {
	font-size: 1.5em;
}

.translation {
	font-size: 1.8em;
}

.example {
	font-size: 1.8em;
	margin: 0.5em;
}

.kanji-panel {
	padding: 1em;
	padding-top: 0;
	/*padding-block-end: 6em;*/
	overflow: auto;
}

.kanji {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 6.8em;
	float: left;
	/*margin-top: -1%;*/
}

.serif {
	font-family: 'Noto Serif JP', serif;
}

.kurenaido {
	font-family: 'Zen Kurenaido', sans-serif;
}

.maru {
	font-family: 'Zen Maru Gothic', sans-serif;
}

.decol {
	font-family: 'Kaisei Decol', serif;
}

.kanji img {
	/*margin-top: 20%;*/
	margin-bottom: -3%;
	height: 120px;
}

.kanji-name {
	padding-top: 1em;
	font-size: 1.8em;
}

.readings {
	font-size: 2em;
}

.decomposition {
	font-size: 1.5em;
	color: green;
}

.key {
	font-size: 3em;
	clear: left;
	float: left;
	margin-right: 0.5em;
	color: blue;
}

.about-key {
	font-size: 1.5em;
	float: left;
	color: blue;
}

.word-list {
	clear: both;
}

.left-half {
	float: left;
	width: 49%;
}

.right-half {
	float: right;
	width: 50%;
}

.word-list p {
	font-size: 1.7em;
	border: 2px solid blue;
	margin: 1%;
	padding: 5px;
	/*background-color: #cae9ffbd;*/
}

.additional {
	/*border: 2px solid red;*/
	background-color: #ffe1e1;
}

footer {
	/*position: sticky;*/
	position: fixed;
	bottom: 0;
	width: 99%;
	/*margin-top: 20em;*/
	padding-top: 1em;
	padding-bottom: 2em;
	background-color: white;
}

footer button {
	height: 5em;
	margin: 1%;
}

.next {
	width: 96%;
}

.evaluation button {
	width: 30vw;
}

.good {
	background-color: green;
}

.bad {
	background-color: red;
}

.gray {
	color: gray;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

